body {

  background-color: turquoise;
}

#about {
    background-color: rgb(71, 111, 87);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
 
  }
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); }
    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: #18d557 3px solid; }
    .about-info .bio {
      grid-area: bio;
      font-size: 1.5rem; }
    .about-info .job-1 {
      grid-area: job1; }
    .about-info .job-2 {
      grid-area: job2; }
    .about-info .job-3 {
      grid-area: job3; }
    .about-info .job {
      background: #515151;
      padding: 0.5rem;
      border-bottom: #2d2782 5px solid; }
      .about-info .job h3 {
        color: #253ab0;
      }
  
  /* CV SECTION */
  .cv a {
    text-decoration: none;
  }
  .cv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .cv .glow-on-hover {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(-90deg, #30336b, #130f40);
    box-shadow: 5px 5px 10px rgb(14, 13, 13);
    transition: all 0.5s ease-out;
  }
  .cv .glow-on-hover:hover {
    background-image: linear-gradient(-90deg, #130f40, #30336b);
  }
  
  @media screen and (max-width: 768px) {
    main {
      align-items: center;
      text-align: center; }
      main .lg-heading {
        line-height: 1;
        margin-bottom: 1rem; }
    .about-info {
      grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
      grid-template-columns: 1fr; }
    .projects {
      grid-template-columns: repeat(2, 1fr); } }
      #about {
        background-color: rgb(50, 57, 55);
      }
      .about-info {
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
        grid-template-columns: repeat(3, 1fr); }
        .about-info .bio-image {
          grid-area: bioimage;
          margin: auto;
          border-radius: 50%;
          border: #10ac78 3px solid; }
        .about-info .bio {
          grid-area: bio;
          font-size: 1.5rem; }
        .about-info .job-1 {
          grid-area: job1; }
        .about-info .job-2 {
          grid-area: job2; }
        .about-info .job-3 {
          grid-area: job3; }
        .about-info .job {
          background: #457376;
          padding: 0.5rem;
          border-bottom: #eece1a 5px solid; }
          .about-info .job h3 {
            color: #eece1a;
          }
      
      /* CV SECTION */
      .cv a {
        text-decoration: none;
      }
      .cv {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .cv .glow-on-hover {
        padding: 15px 20px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border: none;
        cursor: pointer;
        background-image: linear-gradient(-90deg, rgb(97, 135, 86), #bd3d3d);
        box-shadow: 5px 5px 10px rgb(14, 13, 13);
        transition: all 0.5s ease-out;
      }
      .cv .glow-on-hover:hover {
        background-image: linear-gradient(-90deg, #130f40, #30336b);
      }
      
      @media screen and (max-width: 768px) {
        main {
          align-items: center;
          text-align: center; }
          main .lg-heading {
            line-height: 1;
            margin-bottom: 1rem; }
        .about-info {
          grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
          grid-template-columns: 1fr; }
        .projects {
          grid-template-columns: repeat(2, 1fr); } 
        }

        .job-1:hover{
          background-color: black;
          color: white;
        }
        .job-2:hover{
          background-color: black;
          color: white;
        }
        .job-3:hover{
          background-color: black;
          color: white;
        }



